.App > .view-container > * {
    width: 100%;
    height: 100%;
}
.login-dialog {
    max-width: 500px !important;
}
#avatarDropdown {
    cursor: pointer;
}
#avatarDropdown::after {
    display: none;
}
.user-avatar-container {
    position: relative;
}
.user-avatar-container > .user-avatar {
    transition: filter .15s ease-in-out;
}
.user-avatar-container > .user-avatar > .user-avatar > * {
    transition: opacity .15s ease-in-out;
}
.user-avatar-container:hover > .user-avatar > .user-avatar > * {
    /* opacity: 0; */
}
.add-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .15s ease-in-out;
    opacity: 0;
}
.add-icon > * {
    font-size: 20px;
    color: rgba(255, 255, 255, .9);
    margin-bottom: 2px;
    margin-left: 1px;
}
.user-avatar-container:hover > .user-avatar {
    filter: brightness(75%);
}
.user-avatar-container:hover > .add-icon {
    opacity: 1;
}
.change-avatar-modal {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 70%;
}
.change-avatar-modal > .modal-dialog {
    /* max-width: 70%; */
    /* min-width: 70%; */
    width: 100%;
    height: 70%;
    margin: 0;
}
.change-avatar-modal > .modal-dialog > .modal-content {
    height: 100%;
}
.change-avatar-modal .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar-crop {
    height:100%;
    /* display: inline-flex; */
}
.avatar-crop > div:first-child {
    height: 100%;
    /* display: inline-flex; */
    /* justify-content: center; */
}
.avatar-crop img {
    height: 100%;
    object-fit: contain;
}