html, body, #root, .App {
  height: 100%;
  width: 100%;
}
body {
  overflow: auto;
}
*, *::before, *::after {
  box-sizing: border-box;
}
input.no-style {
  border: none;
  outline: none;
  background: transparent;
  appearance: none;
}
.loading::after {
  content: '';
  -ms-animation: loading-text 2.5s linear infinite;
  -o-animation: loading-text 2.5s linear infinite;
  -webkit-animation: loading-text 2.5s linear infinite;
  -moz-animation: loading-text 2.5s linear infinite;
  animation: loading-text 2.5s linear infinite;
}
.spin {
  animation: spin 1s infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading-text {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
}